<h1>Créer un utilisateur</h1>

<div class="w-50 m-2">
  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name%>
    <%= f.input :last_name %>
    <%= f.input :description%>
    <%= f.input :email%>
    <%= f.input :age%>
    <%= f.association :city, include_blank: false %>
    <%= f.input :password %>
    <%= f.button :submit ,"Créer User", class: 'btn-dark mt-2' %>

  <% end %>
</div>

