<% if @gossip.invalid? %>

  <div class="alert alert-danger" > 
    <% @gossip.errors.full_messages.each do |message|%>
      <%= message%>
      <% end %>
 </div>

<% end %>
<h1>Créer un nouveau gossip :</h1>

    <!-- ... -->

    <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'Title' %>
      <%= text_field_tag 'title' %>
      <br /> <br />

      <%= label_tag 'Content' %>
      <%= text_area_tag 'content'%>
      <br /> <br />



      <%= submit_tag "Create Gossip" %>

    <% end %>

    <!-- ... -->