<% if flash[:success]%>
<div class="alert alert-success" > <%= flash[:success] %> </div>

<% end %>
<div class="w-50 m-2">
<h1>Gossip n° <%= @gossip.id%></h1>
  <%
=begin%>
 <span><b> Titre :</b></span>
  <%= @gossip.title%>
  <br />
  <span><b> Auteur :</b></span>
  <a href="<%=user_path(@gossip.user.id)%>"> <%= @gossip.user.last_name%></a>
  <br />
  <span><b> Gossip :</b></span>
  <%= @gossip.content%>
  <br /> 
<%
=end%>

  <div class="card">
  <div class="card-header">
    <%= @gossip.title%>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @gossip.content%></p>
      <footer class="blockquote-footer"><a href="<%=user_path(@gossip.user.id)%>" class="link-secondary"> <%= @gossip.user.last_name%></a> <cite title="Source Title"><%= @gossip.created_at%></cite></footer>
    </blockquote>
  </div>
</div>
<p>
  <% @tags.each do |tag|%>
     <%= tag.title %>
  <% end%>
</p>
<p>
  Likes : <%= @gossip.likes.count%>
</p>
  <p>
    <%if current_user == @gossip.user %>
      <a href="<%=edit_gossip_path(@gossip.id)%>" class="btn btn-dark mt-2">Editer</a>
      
      <a href="" class="btn btn-danger mt-2" data-confirm="Etes vous sur de suprimmer ?" data-method="DELETE">Supprimer</a>
    <%elsif current_user%>
    <a href="<%=new_gossip_comment_path(@gossip.id)%>" class="btn btn-secondary mt-2">Commenter</a>
    <%end %>
    
    <%if Like.find_by(likeable:@gossip, user:current_user) %>
    <%= link_to "Unlike", gossip_like_path(@gossip, Like.find_by(likeable:@gossip, user:current_user)), :method => :delete , class:"btn btn-outline-success mt-2"%>
    <%elsif current_user%>
    <a href="<%=new_gossip_like_path(@gossip.id)%>" class="btn btn-success mt-2">Like</a>
    <%end %>
    
  </p>

</div>

 <div class="w-50 m-2">
    <% @comments.each do |comment|%>

    <div class="card col-md-6 mt-2" style="width: 40rem;">
      <div class="card-body">
        <p class="card-text"><em> <%= comment.content %></em></p>
        <p class="card-text"><em> Auteur : </em><%= comment.user.last_name%>
        </p>
        <p>
          <%if current_user == comment.user %>
            <a href="<%=edit_gossip_comment_path(:gossip_id => @gossip.id,:id => comment.id)%>" class="link-secondary">Editer</a>
            <a href="#" class= "link-danger"></a>
            <%= link_to "Suprimmer", gossip_comment_path(@gossip, comment), :method => :delete %>
          <%end %>

        </p>
        
      </div>
    </div>
    <% end %>
  </div>

