

  <div class="jumbotron jumbotron-fluid my-jumbotron" style="background-image: url(/assets/<%= @city.name%>.jpg)">
    <div class="container my-central-text pt-3">
      <h1 class="display-3"><%= @city.name%></h1>
      <p></p>
    </div>
  </div>

<div class="container my-points">
  <div class="row  justify-content-between my-rowrow">
    <% @gossips.each do |gossip|%>

    <div class="card col-md-6 mt-2" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title"><b> Titre : </b><%= gossip.title%></h5>
        <p class="card-text"><em> Auteur : </em><a href="<%=user_path(gossip.user.id)%>" class=""><%= gossip.user.last_name%></a></p>
        <p class="card-text"><em> Ville : </em><a href="<%=city_path(gossip.user.city.id)%>" class=""><%= gossip.user.city.name%></a></p>
        <a href="<%=potin_path(gossip.id)%>" class="btn btn-dark">Afficher</a>
      </div>
    </div>
    <% end %>
    </div>
</div>


  
